@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";

$large-screen: 700px;

header {
  padding: $base-spacing;
  width: 100%;
  height: 10vh;
  border-bottom: $base-border;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-bewteen;

  figure {
    margin-right: auto;
  }
}

form.form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10vh auto;
  max-width: $large-screen;

  input {
    margin-bottom: 0;
    border: 3px solid $action-color;
  }

  @media screen and (min-width: $large-screen) {
    form {
      margin: 10vh auto;
    }
  }
}



section.hero {
  width: 100%;

  span.alt-text {
  }

  section.hero__text {
    background-color: white;
    height: 100%;
    grid-area: hero;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: $base-spacing;

    p {
      max-width: $large-screen / 1.5;
    }
  }

  section.get-in-touch {
    height: 33vh;
    padding: $base-spacing;
    grid-area: contact;
    background-color: $dark-gray;
    color: white;

    p, a {
      color: white;
    }
  }

  section.learn-more {
    height: 33vh;
    padding: $base-spacing;
    background-color: $blue;
    grid-area: learn;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    p, a {
      color: white;
    }

    a {
      font-size: 2em;
      font-weight: 600;
    }
  }

  @media screen and (min-width: $large-screen) {
    height: 90vh;
    display: grid;
    grid-template-columns: 66.6% 33.3%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "hero learn"
      "hero contact";

    section.get-in-touch, section.learn-more {
      height: auto;
    }
  }
}

section.get-in-touch {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 33vh;

  p, a {
    color: $base-font-color;
  }

  a {
    font-size: 2em;
    font-weight: 600;
  }

  @media screen and (min-width: $large-screen) {
    height: auto;
  }
}


section.features {
  width: 100%;

  p {
    font-weight: 900;
  }

  ul {
    margin: 0;

    li {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: $base-spacing 10vw;
      height: 33vh;
    }

    li#first {
      background-color: $blue;
      color: white;
    }

    li#second {
      background-color: $dark-gray;
      color: white;
    }

    li#third {
      background-color: $blue;
      color: white;
    }
  }

  @media screen and (min-width: $large-screen) {
    ul {
      display: grid;
      grid-template-columns: 33.6% 33.0% 33.6%;
      grid-template-rows: 100%;
      height: 33vh;
    }
  }
}


p.step__number {
  color: $primary-color;
  margin-right: $base-spacing;
}


section.call-to-action {
  width: 100%;
}

footer {
  width: 100%;
  padding: $base-spacing;
  background-color: $primary-color;

  nav {
    padding: $base-spacing 0;
    max-width: $large-screen;
    display: block;
    margin: 0 auto;
    text-align: center;

    li {
      margin: $base-spacing 0;
    }

    a {
      color: white;
    }
  }
}

section.benefits {
  background-color: $dark-gray;
  color: white;
  width: 100%;

 section.benefits-header {
   padding: $base-spacing;
 }

 article {
   color: $base-font-color;
   position: relative;
   padding: $base-spacing;
   background-color: lighten($blue, 40);
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;

   section.copy {
     max-width: $large-screen / 2;
   }

   small {
     position: absolute;
     top: $base-spacing;
     left: $base-spacing;
   }
 }

  @media screen and (min-width: $large-screen) {
    height: 90vh;
    display: grid;
    grid-template-columns: 33.4% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
  }
}
