@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";

$large-screen: 700px;

header {
  padding: $base-spacing;
  width: 100%;
  border-bottom: $base-border;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-bewteen;
  margin-bottom: $base-spacing;

  figure {
    margin-right: auto;
  }
}

form.form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10vh auto;
  max-width: $large-screen;

  input {
    margin-bottom: 0;
    border: 3px solid $action-color;
  }

  @media screen and (min-width: $large-screen) {
    form {
      margin: 10vh auto;
    }
  }
}



section.hero {
  width: 100%;
  margin: $base-spacing 0;

  section.hero__text {
    display: block;
    margin: 0 auto;
    max-width: $large-screen;
  }

  @media screen and (min-width: $large-screen) {
    section.hero__text {
      margin: 10vh auto;
    }
  }
}

section.features {
  width: 100%;

  ul {
    max-width: $large-screen;
    margin: 0 auto;
    display: block;

    li {
      margin: ($base-spacing * 3) 0;
    }
  }
}

section.steps {
  width: 100%;

  ol {
    max-width: $large-screen;
    margin: 0 auto;
    display: block;

    li {
      margin: ($base-spacing * 3) 0;
      display: flex;
      width: $large-screen / 2;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

p.step__number {
  color: $primary-color;
  margin-right: $base-spacing;
}

span.alt-text {
  color: $primary-color;
}

section.call-to-action {
  width: 100%;
}

footer {
  width: 100%;
  padding: $base-spacing;
  background-color: $primary-color;
  margin-top: 10vh;

  nav {
    padding: $base-spacing 0;
    width: $large-screen;
    display: block;
    margin: 0 auto;
    text-align: center;

    li {
      margin: $base-spacing 0;
    }

    a {
      color: white;
    }
  }
}
