<header>
  <figure class="logo">
    <%= image_tag 'logo.png', id: 'logo' %>
  </figure>

  <nav>
    <ul class="horizontal">
      <li><%= link_to 'Home', uri_root_path %></li>
      <li><%= link_to 'Contact Us', 'contact' %></li>
    </ul>
  </nav>
</header>
