<section class="contact-us">
<form action="https://internuncio.us18.list-manage.com/subscribe/post?u=35c18cdbd246edc5e19338917&amp;id=f5087813a0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<h1>Let's get your prequalified</h1>
<section class="contact-info">
  <p>Contact us anytime at:</p>
  <p><strong>Phone:</strong> (818) 470-1481</p>
  <p><strong>Email:</strong> pkhoury@firstamericanwl.com</p>
</section>

<section class="form-inputs">
  <fieldset id="contact-info">
    <legend>Contact Info</legend>
    <section class="field-group">
      <label for="mce-NAME">Name </label>
      <input type="text" value="" name="NAME" class="" id="mce-NAME">
    </section>

    <section class="field-group">
      <label for="mce-EMAIL">
        Email <span class="asterisk">*</span>
      </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </section>

    <section class="field-group">
      <label for="mce-PHONE">Cell Number </label>
      <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
    </section>
  </fieldset>

  <fieldset id="financial-info">
    <legend>Financial Info</legend>
    <section class="field-group">
      <label for="mce-GINCOME">What is your annual gross household income?</label>
      <input type="text"
            name="GINCOME"
            class=""
            value=""
            placeholder="$5,000"
            id="mce-GINCOME" />
    </section>

    <section class="field-group">
      <label for="mce-CSCORE">What's your middle credit score (FICO)?</label>
      <input type="number"
            name="CSCORE"
            class=""
            value=""
            placeholder="710"
            id="mce-CSCORE" />
    </section>

    <section class="field-group">
      <label for="mce-DPAYMENT">
        How much do you have for your home's down payment?
      </label>
      <input type="text"
            name="DPAYMENT"
            class=""
            value=""
            placeholder="$20,000"
            id="mce-DPAYMENT" />
    </section>

    <section class="field-group">
      <label for="mce-MDEBT">How much is your monthly debt?</label>
      <input type="text"
            name="MDEBT"
            class=""
            value=""
            placeholder="$3,000"
            id="mce-MDEBT" />
    </section>

    <section id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </section>
  </fieldset>
</section>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_35c18cdbd246edc5e19338917_f5087813a0" tabindex="-1" value=""></div>
    <div class="clear">
      <input type="submit"
            value="Submit"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button" />
    </div>
  </div>
</form>

</section>
